* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#container {
    width: 600px;
    margin: 50px auto;
}

.board {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.board > ul {
    outline: 2px solid #000;
    display: inline-block;
}

.board > ul > li > ul {
    display: flex;
}

.board > ul > li > ul > li {
    outline: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.matrix:hover {
    cursor: pointer;
    background: #8bdf88;
}

.flag:hover {
    cursor: context-menu;
}

img {
    width: 80%;
    height: 80%;
}

.content {
    display: flex;
    justify-content: center;
}
.innerContent {
    width: 33%;
    display: flex;
    justify-content: center;
}
.innerContent > span > span > img {
    width: 30px;
    height: 30px;
    display: flex;
}
#btnReset {
    width: 100px;
    height: 40px;
    font-size: 20px;
}
button:hover {
    cursor: pointer;
}
.text {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}
.btnLevel {
    width: 180px;
    height: 30px;
    font-size: 17px;
}